[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/tffconnect/tffconnect_backend
ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/tffconnect/tffconnect_backend/tffconnect_backend.sock tffconnect.wsgi:application
EnvironmentFile=/home/ubuntu/.pam_environment

[Install]
WantedBy=multi-user.target
